header {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://img.freepik.com/premium-photo/contact-us-customer-support-hotline-people-connect-call-customer-support_36325-2045.jpg?size=626&ext=jpg);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #f3f3f3;
    line-height: 1.9;
    background-color: #f3f3f3;
}